<%= error_messages_for 'recipe' %>

<!--[form:recipe]-->
<p><label for="recipe_title">Title</label><br/>
<%= text_field 'recipe', 'title'  %></p>

<p><label for="recipe_description">Description</label><br/>
<%= text_field 'recipe', 'description'  %></p>

<p><label for="recipe_date">Date</label><br/>
<%= date_select 'recipe', 'date'  %></p>

<p><label for="recipe_instructions">Instructions</label><br/>
<%= text_area 'recipe', 'instructions'  %></p>
<!--[eoform:recipe]-->

