
<table border="1">
  <tr>
  <% for column in Category.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for category in @categories %>
  <tr>
	<td><%= link_to %Q{#{category.send(column.name)}}, :action => 'show', :id => category %> 
	
	<%= link_to '(delete)', { :action => 'destroy', :id => category }, 
                    :confirm => 'Are you sure?', :post => true %></td>
<% end %>
</table>